
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Century Gothic", sans-serif; 
    color: var(--mainBlack);
    background: var(--mainWhite);
    line-height: 1.4;
    font-size: 1rem;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}

.container-fluid {
    max-width: 1600px;
}
.container_wapper {
    width: 100%;
    background: #c0c0c0;
}
.rcolor {
    background: #f00;
}
.gcolor {
    background: #0f0;
}
.bcolor {
    background: #00f;
}
h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: #3b3b3b;
}

.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: #9fb038;
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  border: 2px solid;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: #9fb038;
  text-decoration: none;
}

/*====== TRANSITIONS ======*/
.transition1l {
    transition: left 1s ease-in-out;
}

.left0 {
    left: 0px;
}
.left100vw {
    left: 100vw;
}
.leftM100vw {
    left: -100vw;
}


